// 업데이터 실행 파일의 아이콘과 버전 정보.
// 앱과 같은 폴더에 놓이고 함께 서명되므로, 속성 창에서 같은 제품으로 보이는
// 편이 사용자가 낯설어하지 않는다.
IDI_ICON1 ICON "../resources/MultiRoot-reST.ico"

#include <winver.h>
#include "mrst_version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    MRST_VERSION_COMMA
PRODUCTVERSION MRST_VERSION_COMMA
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS      VS_FF_DEBUG
#else
FILEFLAGS      0x0L
#endif
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      MRST_COMPANY_NAME
            VALUE "FileDescription",  "MultiRoot reST Updater"
            VALUE "FileVersion",      MRST_VERSION_STRING
            VALUE "InternalName",     MRST_UPDATER_INTERNAL_NAME
            VALUE "LegalCopyright",   MRST_LEGAL_COPYRIGHT
            VALUE "OriginalFilename", MRST_UPDATER_ORIGINAL_FILENAME
            VALUE "ProductName",      MRST_PRODUCT_NAME
            VALUE "ProductVersion",   MRST_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
